#app-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}